
    <section class="download-App">
        <a href="#">
            <img src="./assets/image/bazaar.png" alt="Bazaar">
        </a>
        <a href="#">
            <img src="./assets/image/direct-download-badge.png" alt="Andrid">
        </a>
        <a href="#">
            <img src="./assets/image/iApps.png" alt="Iapps">
        </a>
        <a href="#">
            <img src="./assets/image/sibapp-badge-white.png" alt="Sibapp">
        </a>
        <a href="#">
            <img src="./assets/image/snapp-pwa.png" alt="Snap">
        </a>
    </section>